*.iml
stemcells/
manifests/bosh-warden*
*.pivotal
*.md5
*.tgz
*.deb
*.tar.gz
config/dev.yml
config/private.yml
dev_releases
blobs
.blobs
.dev_builds
.idea
.DS_Store
*.swp
*~
*#
#*
ci/secret.yml
src/smoke-tests/integration_config.json

/bin
/pkg